
/*QUestions for chandler:

with the various containers, should I be alternating between relative and absolute to get them to sit next to eachother? when they are not absolute
what pushes them to the bottom? (side-bar-container, main-section, content and side-spacer

how to stop things moving when scroll right on accident?

If you click on a piece and then click the back button,
I want to go back to the same spot on the page

*/


/*
on mouse hover for the links under my name, make them highlight to the same color as the current selected item.

stroll.js to make thumbnails slide in

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(https://fonts.googleapis.com/css?family=Work+Sans&display=swap);

html {
 font-family: 'Work Sans', sans-serif;
}

nav {
    font-weight: 100;
    margin-top:36px;
    position: relative;
    text-align: center;
}

nav a {
    opacity: 1;
    margin: 0px 0px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .4px;
    font-weight: 500;
    position:absolute;
    bottom:-1px;
}

nav a:hover {
	opacity: 1;
  cursor: pointer;
}

h1{
     font-size:42px;
		 /* font-family: 'worksans'; */
}

h3{
     font-size:16px;
}


#header{
    top:50px;
    position: relative;
    text-align: center;
    margin-top: 20px;
}


#info{
    color:#777;
    vertical-align: top;
    height:210px;
    width:600px;
    display:inline-block;
    font: 'Futura PT';
}

.info-title{
    text-align: left;
    margin-left:36px;
    margin-top:16px;
    font-weight: 500;
}

.info-content{
        font-size:20px;
    font-weight:00;
    text-align: left;
    margin-left:36px;
    margin-top:2px;
}

#logo-container{
    display:inline-block;
    position:relative;
    height:234px;
    width:210px;
    background:#eaeaea;
		-webkit-transition: background 0.3s ease-out;
		-moz-transition: background 0.3s ease-out;
		-ms-transition: background 0.3s ease-out;
		-o-transition: background 0.3s ease-out;
		transition: background 0.3s ease-out;
		cursor: pointer;
}

.immediate{
	-webkit-transition: background 0.0s ease-out!important;
	-moz-transition: background 0.0s ease-out!important;
	-ms-transition: background 0.0s ease-out!important;
	-o-transition: background 0.0s ease-out!important;
	transition: background 0.0s ease-out!important;
}

.preload{
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}


#about-link.about, #home-link.home{
		color:white;
		cursor:default;
		padding:3px;
		bottom:-3px;
		-webkit-transition: color 0.2s ease-out;
		-moz-transition: color 0.2s ease-out;
		-ms-transition: color 0.2s ease-out;
		-o-transition: color 0.2s ease-out;
		transition: color 0.2s ease-out;
}

#about-link.home, #home-link.about{
		color:gray;
		opacity:.7;
		padding:3px;
		bottom:-3px;
		z-index: 1;
			cursor: pointer;
			-webkit-transition: color 0.2s ease-out;
			-moz-transition: color 0.2s ease-out;
			-ms-transition: color 0.2s ease-out;
			-o-transition: color 0.2s ease-out;
			transition: color 0.2s ease-out;
}

#home-link{
		opacity:1;
		right:0;
}

#slider-left, #home-link.about:hover ~ #slider-left, #logo-home-link:hover ~ nav #home-link.about ~ #slider-left{
	height: 24px;
	width: 150px;
	position: absolute;
	z-index: 0;
	background-color: white;
	opacity: 1;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#about-link.home:hover ~ #slider-left, #about-link.about ~ #slider-left{
	height: 24px;
	width: 0px;
	position: absolute;
	z-index: 0;
	background-color: white;
	opacity: 1;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}


#about-link.home ~ #slider-right, #home-link.about:hover ~ #slider-right, #logo-home-link:hover ~ nav #home-link.about ~ #slider-right{
	height: 24px;
	width: 0px;
	position: absolute;
	z-index: 0;
	right:0;
	background-color: white;
	opacity: 1;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
#about-link.home:hover ~ #slider-right, #about-link.about ~ #slider-right{
	height: 24px;
	width: 145px;
	position: absolute;
	z-index: 0;
	right:0;
	background-color: white;
	opacity: 1;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#about-link.home:hover ~ #slider-tab, #about-link.about ~ #slider-tab{
	width: 64px;
	height: 24px;
	right:100%;
	margin-right:-64px;
	position: absolute;
	bottom: -3px;
	z-index: -2;
	background-color:#eaeaea;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#about-link.hidden{
opacity:0!important;
}

#logo{
    z-index: 10;
    height: 190px;
		padding: 10px 8px 10px 11px;
    left: 0;
    position:absolute;
}


a#logo-home-link{
	height: 210px;
	    width: 210px;
	    position: absolute;
	    display: block;
	    margin-top: 24px;
			z-index: 100;
}

.logo-color{
    height:0;
    width:100%;
    bottom:0;
    position:absolute;
		z-index: 0;
		opacity: .99;
}

.work-link{
    color:black;
    opacity:0.3;
}
.work-link:hover{
    opacity:0.5;
}

#content{
    width:814px;
    margin:0 auto 0 auto;
    position:relative;
    top: 9px;
}

p{
    font-size:16px;
    line-height: 27px;
    width:50%;
    font-weight: 100;
    margin-top: 36px;
    letter-spacing: .4px;
    display:inline-block;
    font-family:'work-sans', sans-serif;
    color:#545454;
}

li{
    list-style-type: none;
 text-transform: uppercase;
    font-size:24px;
    margin-top: 5px;
}

li a{
    font-weight: 100;
    opacity: .3;
}
li a:hover{
    font-weight: 100;
    opacity: .5;
}

/* li a:hover{
     opacity: 1;
} */

a{
    text-decoration: none;
     color:black;
}

.side{
    position:relative;
    top: 42px;
    display:inline-block;
    left:100px;
        vertical-align: top;
}

.side h1{
    color: gray;
}

.caption{
    margin-top:5px;
    margin-bottom:-20px;
    font-size: 100;
    color:gray;
}

#projects{
    position:relative;
    display:block;
    width:834px;
    margin-top:60px;
    margin-left:auto;
    margin-right:auto;
}

.thumbnail{
    display:inline-flex;
    height:140px;
    width:17%;
    margin:9px 9px;
    position:relative;

}

.thumbnail-image-container{
  display:inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
}


.thumbnail-image-container img{
	max-width: 110px;
	max-height: 140px;
	opacity:.8;
	mix-blend-mode: multiply;
	align-self: center;
}

.thumbnail:hover{
    cursor: pointer;
    background-color:#eaeaea;
}

.thumbnail {
        color:#000;
        -webkit-transition: background 0.3s ease-out;
        -moz-transition: background 0.3s ease-out;
        -ms-transition: background 0.3s ease-out;
        -o-transition: background 0.3s ease-out;
        transition: background 0.3s ease-out;
}


.thumbnail-color{
    height:100%;
    width:100%;
    position:absolute;
		mix-blend-mode: multiply;
}

#SEO{
	display:hidden;
}

.large-image{
    margin-top: 0px;
    margin-bottom: 6px;
    margin-left: -1px;
    width:100%;
}
.small-image{
    margin-bottom: 6px;
    width:402px;
    display:inline-block;
}


.yellow{
    background:#fff45b;
}

.red{
    background: #FF9A62;
}

.turqoise{
    background: #A3DADC;
}

.blue{
    background: #4f52ee;
}

.indigo{
    background:#395a82;
}

.purple{
    background: rgb(120,50,180);
}

.lightBlue{
     background: rgb(120,228,255);
}

.magenta{
    background: #ffb5df;
}

.pink{
  background:#6fe09a ;
}

.purple{
background: rgb(107, 64, 144);
}

.green{
    background: #4c8fdf;
}

.orange{
    background: #fc5355;
}

.black{
    background: #252434;
}

.white{
   background: rgb(255,255,255);
}

.slate{
    background: #A0A0BB;
}



#arrow {
			background: white;
	    width: 100px;
	    height: 100px;
	    position: relative;
	    margin: 2em auto 3em auto;
			cursor: pointer;
	}

#arrow .line1 {
    width: 100px;
    height: 3px;
	background: red;
    -webkit-transform:
        rotate(45deg);
    position: absolute;
    top: 50px;
}
#arrow .line2 {
	width: 100px;
	height: 3px;
	background: red;
    -webkit-transform:
        rotate(-45deg);
    position: absolute;
    top: 50px;
}




.description{
    margin: 0;
    width:60%;
    white-space:pre-line;
}

.divider{
    width:100%;
    height:1px;
    background:gray;
    margin: 100px 0px;
}

p a{
    font-weight: 500;

}

h5 {
    font-weight: 500;
}
b {
    font-weight: 500;
}


.collapse{
    font-size: 16px;
    font-weight: 500;
    position:absolute;
    height:0;
    bottom:228px;
    right:0;
    display:none;
    letter-spacing: .5px;

}



/*test zone*/

nav {
    font-weight: 100;
    font-size: 18px ;
    word-spacing: 23px;
    height: 24px;
    text-align: left;
    bottom:3px;
    margin:0px 0px;
    /* z-index: 0; */
		/* opacity: .99; */
}


nav a:hover {
     cursor: pointer;
}

.spacer{
    height:100px;
}
